@import "bootstrap";
//@import "scaffolds";

.image-sm {
  width: 50px;
  height: 50px;
}

//.banner-url {
//  min-width: 30rem;
//}
//
//.dapp-url {
//  min-width: 30rem;
//}
//
//.dapp-text {
//  min-width: 20rem;
//  min-height: 5rem;
//}
//
//.header-box {
//  padding: 20px 40px;
//  box-sizing: border-box;
//  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
//  height: 80px;
//  background-color: #fff;
//  margin: 0;
//
//  .header-limiter {
//    max-width: 1200px;
//    text-align: center;
//    margin: 0 auto;
//
//    a {
//      color: #5c616a;
//      text-decoration: none;
//    }
//
//    nav {
//      font: 15px Arial, Helvetica, sans-serif;
//      line-height: 40px;
//      float: left;
//
//      a {
//        display: inline-block;
//        padding: 0 5px;
//        opacity: 0.9;
//        text-decoration: none;
//        color: #5c616a;
//        line-height: 1;
//
//        &.selected, &:hover {
//          background-color: #86a3d5;
//          color: #ffffff;
//          border-radius: 3px;
//          padding: 6px 10px;
//        }
//      }
//    }
//  }
//}
//
///* Making the header responsive. */
//
//@media all and (max-width: 600px) {
//
//  .header-box {
//    padding: 20px 0;
//    height: 85px;
//
//    .header-limiter {
//      nav {
//        line-height: 1;
//        float: none;
//
//        a {
//          font-size: 13px
//        }
//      }
//    }
//  }
//
//}
