<% provide :title, "更新图片" %>
<% provide :back_url, admin_images_path %>

<%= render 'form', image: @image %>

<div class="container">
  <%= link_to '显示详情', admin_image_path(@image), class: "btn btn-outline-secondary" %>
</div>
