@import './color.scss';
@import './size.scss';

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: $s-body;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  // max-width: 800px;
  flex-flow: column;
  // justify-content: stretch;
  // text-align: center;
  margin: 0;
  min-height: 100vh;
  // background-color: $c-back-body;
  color: $c-main;
  font-family: 'Avenir-Medium', 'PingFangSC-Regular', 'Microsoft YaHei', '微软雅黑', 'STXihei', '华文细黑', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  //display: flex;
}

.container {
  //max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

.ztop {
  z-index: 9999999;
}

.mask {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}