$c-title1: #262A44;
$c-title2: #707597;
$c-text: #8A8D9F;
$c-text-comment: #C5C5D0;
$c-text-alert: #FF8F27;
$c-text-link: #1646FF;
$c-text-input: #EAEAEA;
$c-text-button: #fff;
$c-text-button-sub: #bbc9ff;

$c-back-body: #f8f8fa;
$c-back-button: linear-gradient(to bottom, #365FFF, #4F72FF);
$c-back-button-sub: linear-gradient(to bottom, #FF8C36, #FFA97D);
$c-back-icon: #7793FF;
$c-back-alert: #19ff7826;

$c-line-table: #dfe3f0;
$c-line-list: #f7f7f7;