$c-title1: #262a44;
$c-title2: #707597;
$c-text: #8a8d9f;
$c-text-comment: #c5c5d0;
$c-text-alert: #ff8f27;
$c-text-link: #1646ff;
$c-text-input: #eaeaea;
$c-text-button: #fff;
$c-text-button-sub: #bbc9ff;

$c-back-body: #f8f8fa;
$c-back-header: #ffffff;
$c-back-button: linear-gradient(to bottom, #365fff, #4f72ff);
$c-back-button-sub: linear-gradient(to bottom, #ff8c36, #ffa97d);
$c-back-icon: #7793ff;
$c-back-alert: #19ff7826;

$c-line-table: #dfe3f0;
$c-line-list: #f7f7f7;

$c-main: #2e313e;
$c-auxiliary: #6c7184;
$c-conspicuous: #456cff;
