@import './color.scss';

#id-header-base {
  position: absolute;
  z-index: -10000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
}

.header {
  color: white;
  text-align: center;
  width: 100%;
  background-size: cover;
  background: $c-back-button;
}

.headerSearch {
  display: inline-flex;
  align-items: center;
  padding-left: 9px;
  width: 100%;
  height: 30px;
  color: #989caa;
  font-size: 12px;
  background-color: #fff;
  border-radius: 2px;
}

.headerSearchLabel {
  padding-left: 10px;
}

.headerTitleContainer {
  position: relative;
  font-size: 18px;
  padding: 21px 15px 0px;
}

.headerButton {
  position: absolute;
  top: 30px;
  right: 15px;
}

.headerSearchIcon {
  width: 16px;
  height: 16px;
}

.headerSearchIcon.big {
  width: 22px;
  height: 22px;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  position: relative;
  margin-top: 17px;
  overflow: hidden;

  .headerSearchIcon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 23px;
    top: 150%;
    transform: translate(0%, -50%);
  }
}

.headerNavItem {
  color: $c-text-button-sub;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 2px;
  vertical-align: top;
}

.headerNavItem.active {
  color: $c-text-button;
  font-size: 16px;
  border-bottom: 2px solid;
}

// .headerAnime.second {
//   background: white;
//   color: #262a44;
//   position: fixed;
//   border-bottom: 1px solid #f8f8fa;
//   width: 100%;
//   padding-top: 30px;
//   top: 0;

//   .headerNavItem {
//     color: #8a8d9f;
//     padding-bottom: 0;
//     margin-bottom: 0;
//   }

//   .headerNavItem.active {
//     color: #262a44;
//     border-bottom: 2px solid #365fff;
//   }
// }
