<% @page_title = "首页" %>
<div id='id-page-home'>

  <div id='id-container-headerbar'>
    <div class='headerbarInner'>
      <div id='id-button-search' class='search' type='text'>
        <%= image_tag asset_pack_path('src/imgs/icon/earth1.svg'), class: 'headerSearchIcon', alt: 'Logo' %>
        <div class='searchLabel'>请输入应用网址</div>
      </div>
      <div id='id-button-navigation' class='button'>
        <div class='buttonLine'></div>
        <div class='buttonLine'></div>
        <div class='buttonLine'></div>
      </div>
    </div>
  </div>

  <div id='id-container-mask' class='ztop mask'>
    <div class='ztop menu'>
      <a href='/mine' class="menucell">我的收藏</a>
      <a href='/history' class="menucell">我的足迹</a>
    </div>
  </div>

  <div id='id-container-banner'>
    <div class="banner"></div>
  </div>

  <div id='id-container-dappblocks'>

  </div>

</div>
