<% @dapps.keys.each do |key| %>
  <h3><%= key.to_s %></h3>
  <ul>
    <% @dapps[key].each do |dapp| %>
      <li>
        <%= image_tag dapp.logo_url, alt: "Logo" %>
        <span><%= dapp.name %></span>
        <%= link_to dapp.url_address, dapp.url_address %>
      </li>
    <% end %>
  </ul>
<% end %>