<% @page_title = "首页" %>
<div id='id-page-home'>


  <div id='id-container-banner'>
    <div class="banner"></div>
    <div class="navs"></div>
  </div>

  <div id='id-container-jumpButtons'>
    <div class='button openCollection'>
      <%= image_tag asset_pack_path('src/imgs/icon/collection.svg'), class: 'icon back', alt: 'collection' %>
      <span>我的藏品</span>
      <%= image_tag asset_pack_path('src/imgs/icon/collection.svg'), class: 'icon', alt: 'collection' %>
    </div>
    <div class='button openMyDapp'>
      <%= image_tag asset_pack_path('src/imgs/icon/dapp.svg'), class: 'icon back', alt: 'dapp' %>
      <span>我的 DApp</span>
      <%= image_tag asset_pack_path('src/imgs/icon/dapp.svg'), class: 'icon', alt: 'dapp' %>
    </div>
  </div>

  <div id='id-container-dappblocks'>

  </div>

</div>
