<% @page_title = "我的收藏" %>

<div id="id-page-mine" class="dappsContainer">
  <div id="id-container-dapplist">
    <div class="noData">
      <span class="noDataText">空空如也</span>
    </div>
  </div>
</div>
