<div id="id_localViewContainer" class="DappsContainer container">
  <div class="DappsList">
    <div class="DappsListItem">
      <div class="DappsListImgContainer">
        <img class="DappsListImg" src="http://p1.music.126.net/sr9yP4Kt4xxYap5T7CbMqQ==/109951162955032377.jpg?param=180y180" alt="">
      </div>
      <div class="DappsListContent">
        <div class="DappsListName">Yuki</div>
        <div class="DappsListUrl">http://yuki.com</div>
      </div>
    </div>
  </div>
</div>
