<div id="id-header" class="container header test">
  <div class="headerTitleContainer">
    <div class="headerSearch" type="text" id="id-searchBar" >
      <%= image_tag asset_pack_path("src/imgs/searchIcon.png"), class: 'dappsListImg', alt: "Logo" %>
      <div class="headerSearchLabel">添加 Token 名称或合约地址</div>
    </div>
    <!--<div class="headerTitle">Dapps</div>-->
    <!--<div class="headerButton">+</div>-->
  </div>
  <div class="headerNav">
    <div class="headerNavItem" data-link="/dapps/mine">
      <%= link_to "我的应用", dapps_mine_path %>
    </div>
    <div class="headerNavItem" data-link="/dapps">
      <%= link_to "应用推荐", dapps_path %>
    </div>
  </div>
</div>